.notification {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #aaa;
  z-index: 133330;
}
.success {
  background-color: #d4edda;
}
.error {
  background-color: #f8d7da;
}
.info {
  background-color: #d1ecf1;
}
