<div class="containerFooter">
  <div class="sm:col-4">
    <logo width="150" height="150"></logo>
    <div class="text-300 text-xl font-medium block">
      Str. Laminorului Nr 40, Targoviste, jud. Dambovita
    </div>
  </div>

  <div style="display: flex; padding-top: 5px">
    <div class="sm:col-7">
      <span class="text-300 text-xl font-medium block">Contact</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
            >Telefon: 0245 207 530</a
          >
        </li>
        <li>
          <a
            href="mailto:comenzi@automotivepack.ro"
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
            >Email: comenzi@automotivepack.ro</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
            >Comenzi telefonice:
          </a>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer block"
          >
            Luni - Vineri, 09:00 - 16:00
          </div>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer block"
          >
            Telefon: +40 245 207 530
          </div>
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
            >Suport tehnic:
          </a>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer block"
          >
            Luni - Vineri, 09:00 - 16:00
          </div>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer block"
          >
            Telefon: +40 245 207 540
          </div>
        </li>
      </ul>
    </div>
    <div class="sm:col-6">
      <span class="text-300 text-xl font-medium block">Informatii</span>
      <ul class="list-none p-0">
        <li>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            Termeni si conditii
          </div>
        </li>
        <li [routerLink]="['/confidentialitate-screen']">
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            Politica de confidentialitate
          </div>
        </li>
        <li>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            My Cart
          </div>
        </li>
        <li>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            Wishlist
          </div>
        </li>
        <li>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            Orders &amp; Returns
          </div>
        </li>
      </ul>
    </div>
    <div class="sm:col-3">
      <span class="text-300 text-xl font-medium block">Contul meu</span>
      <ul class="list-none p-0">
        <li>
          <div
            tabindex="0"
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            Contul meu
          </div>
        </li>
        <li>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            Data Privacy
          </div>
        </li>
        <li>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            Terms of Service
          </div>
        </li>
        <li>
          <div
            class="text-600 hover:text-100 transition-duration-150 cursor-pointer mt-2 block"
          >
            Legal Information
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
