<div
  class="containerLogin"
  style="display: flex; flex-direction: column; min-height: 100vh"
>
  <div class="sticky-top">
    <app-navbar></app-navbar>
  </div>

  <div
    style="margin-top: 20px; flex: 1; padding-left: 60px; padding-right: 60px"
  >
    <div style="text-align: center">
      <h2 class="heading">Politica de confidentialitate</h2>
    </div>
    <div class="page">
      <p><strong>1.Categorii de date cu caracter personal</strong></p>
      <p>
        <br />Pentru scopurile Prelucrarii mentionate la punctul II de mai jos,
        prelucram datele cu caracter personal ale dumneavoastra furnizate in
        cadrul site-ului nostru - denumite in continuare &bdquo;<strong
          >Date cu caracter personal</strong
        >&rdquo;, dupa cum urmeaza:<br />&nbsp;&nbsp;&nbsp;&bull; Nume, prenume,
        numarul de telefon mobil/fix, adresa de e-mail, adresa de domiciliu,
        contul bancar, (denumite &icirc;n continuare &bdquo;<strong
          >Date personale</strong
        >&rdquo;);<br />&nbsp;&nbsp;&nbsp;&bull; Numarul comenzii plasate, tipul
        produselor comandate, informatii pentru plata, detalii tranzactii
        (denumite &icirc;n continuare &bdquo;<strong
          >Date referitoare la comandă</strong
        >&rdquo;);<br />&nbsp;&nbsp;&nbsp;&bull; Continutul comentariului
        transmis catre Automotive Pack (denumite in continuare &bdquo;<strong
          >Date de comunicare</strong
        >&rdquo;);<br />&nbsp;&nbsp;&nbsp;&bull; Informatii privind utilizarea
        contului de utilizator si a Site-ului de catre dumneavoastra, cum ar fi
        data si ora la care ati accesat Webite-ul, inclusiv adresa IP publica,
        Device ID public si date similare despre dumneavoastra (denumite in
        continuare &bdquo;<strong>Date de monitorizare</strong
        >&rdquo;).<br />Automotive Pack&nbsp;colecteaza Datele cu caracter
        personal in următoarele modalitati: direct de la dumneavoastra
        (furnizate pe site, e-mail, retele de socializare ori prin alte mijloace
        de comunicare), din rapoartele traficului inregistrat de serverele care
        gazduiesc site-ul, din retele sociale precum si prin intermediul
        cookie-urilor.
      </p>
      <p>&nbsp;</p>
      <p><strong>2. Scopurile Prelucrarii</strong></p>
      <p>
        <br />Prelucram Datele dumneavoastra cu caracter personal in masura
        permisa sau impusa de legislatia aplicabila in urmatoarele scopuri:<br />1.
        pentru furnizarea bunurilor si serviciilor oferite de catre
        Automotivepack, cuprinzand actiunile specifice acestei activitati,
        inclusiv pentru a permite folosirea cat mai optima a Site-ului si in
        scopul obtinerii de informatii statistice pentru Imbunatatirea
        serviciilor Automotivepack (denumite in continuare &bdquo;<strong
          >Scopuri legate de furnizarea serviciilor si functionarea
          Site-ului</strong
        >&rdquo;);<br />2. pentru administrarea sigura a sistemului informatic
        al Automotivepack si in scopul evitarii activitatilor infractionale
        (denumite in continuare &bdquo;<strong
          >Scopuri legate de securitate si prevenirea fraudei</strong
        >&rdquo;);<br />3. pentru a permite clientilor sa creeze un cont pe
        Site-ul nostru, sa plaseze comenzi online si sa cumpere produse din
        magazinul online Automotivepack. Utilizam informatiile pe care ni le
        furnizati pentru a administra contul creat pe Site-ul nostru. Puteti sa
        va administrati contul, sa profitati de oferte speciale, sa faceti mai
        usor cumparaturi si sa va administrati setarile personale (denumite in
        continuare &bdquo;<strong>Scopuri legate de supermarket online</strong
        >&rdquo;);<br />4. pentru a permite clientilor sa ofere sugestii si
        sesizari cu privire la serviciile oferite de Automotivepack (denumite In
        continuare &bdquo;<strong
          >Scopuri legate de sugestii si sesizari ale clientilor</strong
        >&rdquo;);<br />5. pentru a permite furnizorilor sa ofere opiniile si
        comentariile lor in legatura cu activitatea Automotivepack sau sa
        propuna idei de colaborare sau sa transmita oferte catre Automotivepack
        (denumite in continuare &bdquo;<strong
          >Scopuri legate de furnizori</strong
        >&rdquo;);<br />6. pentru a permite realizarea activitatilor de
        marketing (denumite in continuare &bdquo;<strong
          >Scopuri legate de marketing</strong
        >&rdquo;);
      </p>
      <p>
        Aceste activitati pot include:<br />1. Utilizarea Datelor dumneavoastra
        personale pentru a va trimite noutati despre produsele si serviciile
        noastre, atunci cand achizitionati un produs din supermarketul online
        sau cand configurati un cont de utilizator. Va puteti dezabona de la
        aceste comunicari de marketing, oricand, rapid si usor. Trebuie numai sa
        dati clic pe link-ul de ˝Dezabonare˝ inclus in fiecare newsletter.<br />2.
        Pe baza informatiilor pe care ni le furnizati, vi se pot arata oferte
        personalizate pe Site (inclusiv pe retelele sociale). Acestea pot fi
        oferte de care puteti beneficia direct pe Site, oferte ale unor terti
        sau produse despre care credem ca v-ar interesa.<br />3. Cand
        participati la alte activitati promotionale (tombole, concursuri), vi se
        va putea solicita sa ne comunicati informatii relevante ce vor fi
        utilizate pentru a administra aceste promotii sau pentru a intra in
        posesia premiilor acordate.<br />4. Utilizarea numarului dvs. de telefon
        de catre Automotive Pack sau un imputernicit al acesteia, pentru a va
        contacta in scopul imbunatatirii serviciilor noastre sau ale
        subcontractantilor / partenerilor nostri (de ex. in cazul unor sondaje
        cu privire la interactiunea dvs. cu reprezentantii/imputernicitii
        Automotive Pack)<br />5. Utilizarea istoricului dvs. de cumparaturi de
        pe site-ul&nbsp;www.automotivepack,ro&nbsp;pentru afisarea de oferte
        relevante pe site-ul&nbsp;www.automotivepack.ro, in cazul in care
        navigati pe site utilizand contul dvs. personal de pe&nbsp;<a
          href="https://www.mitko/"
          >www.automotivepack</a
        >.ro.
      </p>
      <p>
        Vom utiliza Datele cu caracter personal, astfel cum vor fi furnizate de
        dumneavoastra catre Automotive Pack, in scopurile mentionate in aceasta
        Politica.
      </p>
      <p>&nbsp;</p>
      <p>
        <strong
          >3.Temeiul Prelucrarii Datelor dumneavoastra cu caracter
          personal</strong
        >
      </p>
      <p>
        <br />In general, prelucrarea Datelor cu caracter personal este necesara
        in vederea desfasurarii activitatii specifice scopurilor Prelucrarii.<br />In
        general, vi se solicita sa furnizati Datele dumneavoastra cu caracter
        personal in mod obligatoriu, cu exceptia situatiilor limitate in care va
        comunicam ca anumite informatii sunt facultative. Daca nu ne oferiti
        respectivele date cerute a fi furnizate in mod obligatoriu, procesul
        poate fi intarziat sau chiar imposibil.<br />Pentru a putea prelucra
        Datele dumneavoastra cu caracter personal, Automotive Pack se bazeaza pe
        diferite temeiuri juridice, dupa cum urmeaza:
      </p>
      <p>
        <em><strong>1.Consimtamant:</strong></em
        ><br />a) Ne putem baza pe acordul dumneavoastra de a va utiliza
        informatiile personale in anumite scopuri de marketing direct,
        consimtamantul fiind temeiul juridic pentru colectarea, prelucrarea si
        utilizarea Datelor dumneavoastra cu caracter personal, astfel cum este
        permis de legea aplicabila. Va puteti retrage consimtamantul in orice
        moment, contactandu-ne la adresele de la finalul acestei Politici de
        Confidentialitate.<br />b) Totodata, pe baza consimtamantului dvs.,
        tinem evidenta istoricului dvs. de cumparaturi, pentru a putea afisa pe
        site, dupa momentul logarii de catre dvs. in cont, recomandari sau
        oferte relevante pentru dvs.
      </p>
      <p>
        <em
          ><strong
            >2.Executarea unui contract sau realizarea demersurilor in vederea
            incheierii unui contract:</strong
          ></em
        ><br />Prelucrarea este necesara pentru executarea contractului la care
        persoana vizata este parte sau pentru a face demersurile necesare
        incheierii contractului dintre dumneavoastra si Automotive Pack. De
        exemplu, daca utilizati serviciile noastre pentru a face o comanda
        online, va vom utiliza Datele cu caracter personal pentru a ne indeplini
        obligatia de a finaliza si a administra acea comanda in conformitate cu
        contractul pe care il avem cu dumneavoastra. De asemenea, Prelucrarea
        Datelor dumneavoastra cu caracter personal poate fi necesara pentru a
        face demersuri inainte de incheierea unui posibil contract, in
        conditiile in care sunteti un potential partener si doriti sa ne
        contactati in vederea unei eventuale colaborari comerciale;
      </p>
      <p>
        <em><strong>3.Interese legitime:</strong></em
        ><br />Putem folosi informatiile pentru interesele noastre legitime, cum
        ar fi oferirea celui mai adecvat continut al Site-ului, marketing,
        pentru a ne imbunatati si promova produsele si serviciile, precum si
        continutul pe Site-ul nostru, si in scopuri administrative si de
        detectare a fraudei.
      </p>
      <p>
        <em><strong>4.Obligatii legale:</strong></em
        ><br />Prelucrarea datelor este necesara pentru indeplinirea
        obligatiilor noastre legale, cum ar fi obligatii prevazute de legislatia
        contabila si fiscala sau solicitari ale autoritatilor publice.
      </p>
      <p>DATE CU CARACTER PERSONAL</p>
      <table cellspacing="1" cellpadding="1">
        <colgroup>
          <col width="263" />
          <col width="204" />
          <col width="146" />
        </colgroup>
        <tbody>
          <tr>
            <td width="263">
              <p>Scopurile prelucrarii</p>
            </td>
            <td width="204">
              <p>Categorii de Date cu caracter personal implicatet</p>
            </td>
            <td width="146">
              <p>Temeiul prelucrarii</p>
            </td>
          </tr>
          <tr>
            <td width="263">
              <p>
                Scopuri legate de furnizarea serviciilor si functionarea
                Site-ului&nbsp;&nbsp;
              </p>
            </td>
            <td width="204">
              <p>Date personale<br />Date de comunicare</p>
            </td>
            <td width="146">
              <p>
                Executarea unui contract;<br />In baza unei obligatii legale;
                sau<br />In baza interesului legitim.
              </p>
            </td>
          </tr>
          <tr>
            <td width="263">
              <p>Scopuri legate de securitate si prevenirea fraudei</p>
            </td>
            <td width="204">
              <p>
                Date personale<br />Date referitoare la comanda<br />Date de
                monitorizare
              </p>
            </td>
            <td width="146">
              <p>
                In baza unei obligatii legale; sau<br />In baza interesului
                legitim.
              </p>
            </td>
          </tr>
          <tr>
            <td width="263">
              <p>Scopuri legate de supermarket online</p>
            </td>
            <td width="204">
              <p>
                Date personale<br />Date referitoare la comanda<br />Date de
                comunicare
              </p>
            </td>
            <td width="146">
              <p>
                Executarea unui contract;<br />In baza unei obligatii legale;
                sau<br />In baza interesului legitim.
              </p>
            </td>
          </tr>
          <tr>
            <td width="263">
              <p>Scopuri legate de sugestii si sesizari ale clientilor</p>
            </td>
            <td width="204">
              <p>
                Date personale<br />Date referitoare la comanda<br />Date de
                comunicare
              </p>
            </td>
            <td width="146">
              <p>
                Executarea unui contract;<br />In baza unei obligatii legale.
              </p>
            </td>
          </tr>
          <tr>
            <td width="263">
              <p>Scopuri legate de furnizori</p>
            </td>
            <td width="204">
              <p>Date personale<br />Date de comunicare</p>
            </td>
            <td width="146">
              <p>
                Executarea unui contract;<br />In baza unei obligatii legale;<br />In
                baza interesului legitim.
              </p>
            </td>
          </tr>
          <tr>
            <td width="263">
              <p>Scopuri legate de marketing</p>
            </td>
            <td width="204">
              <p>
                Date personale<br />Date referitoare la comanda<br />(istoric de
                comenzi)
              </p>
            </td>
            <td width="146">
              <p>Pe baza de consimtamant;<br />In baza interesului legitim.</p>
            </td>
          </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
      <p><strong>4.Perioade de retentie</strong></p>
      <p>
        <br />Datele cu caracter personal prelucrate in scopurile mentionate in
        prezenta vor fi pastrate doar cat este necesar, pe durata existentei
        contului dumneavoastra si ulterior, in timpul unei perioade de tranzitie
        (de exemplu, pentru primirea unui raspuns la solicitarea dumneavoastra,
        pentru livrarea bunurilor, emiterea facturilor) sau pentru oricare alta
        perioada mai indelungata in care Automotive Pack are obligatia legala de
        a arhiva Datele cu caracter personal.<br />Daca se initiaza o actiune
        judiciara, Datele cu caracter personal pot fi pastrate pana la finalul
        acestei actiuni, inclusiv eventualele perioade de recurs, iar apoi vor
        fi sterse sau arhivate, conform prevederilor legislatiei aplicabile.<br />In
        principiu, va vom pastra Datele cu caracter personal pe durata
        solicitata sau permisa de legislatia aplicabila. Ulterior, vom
        elimina/sterge Datele dumneavoastra cu caracter personal din sistemele
        si evidentele noastre si/sau vom lua masuri pentru a le anonimiza,
        astfel incat sa nu mai puteti fi identificat in baza acestora. In toate
        cazurile, Datele cu caracter personal din contractele, comunicarile si
        alte documente identificate pot fi supuse unor cerinte legale de
        pastrare, care necesita, in principiu, pastrarea de pana la 10 ani.
        Orice alte Date cu caracter personal vor fi sterse, in principiu, in 6
        luni de la ştergerea contului dumneavoastra de utilizator sau de la
        colectarea lor prin intermediul Site-ului, cu exceptia Datelor
        Referitoare la Comanda care vor putea fi pastrate pana la 3 ani de la
        data tranzactiei sau, dupa caz, pentru o perioada necesara pentru
        indeplinirea unor obligatii legale (inclusiv daca suntem obligati astfel
        printr-o hotarare judecatoreasca) sau daca este necesar pentru motive de
        securitate, prevenirea fraudei, litigii sau abuzuri.
      </p>
      <p><br /><strong>5. Proceduri de securitate</strong></p>
      <p>
        <br />In conformitate cu legislatia europeana pentru protectia datelor,
        folosim proceduri rezonabile pentru a preveni accesul neautorizat si
        folosirea neadecvata a Datelor cu caracter personal.<br />Utilizam
        sisteme si proceduri adecvate pentru a proteja şi securiza Datele cu
        caracter personal pe care ni le transmiteti. De asemenea, folosim
        proceduri de securitate si restrictionari tehnice si fizice ale
        accesarii si folosirii Datelor cu caracter personal pe serverele
        noastre. Numai personalul autorizat poate accesa datele personale in
        timp ce lucreaza.
      </p>
      <p><br /><strong>6.Drepturile dumneavoastra</strong></p>
      <p>
        <br />Daca v-ati declarat consimtamantul cu privire la anumite
        activitati de Prelucrare, puteti retrage acest consimtamant in orice
        moment cu efecte viitoare. O astfel de retragere nu va afecta
        legalitatea Prelucrarii anterior retragerii consimtamantului.<br />In
        baza conditiilor prevazute de legislatia aplicabila (GDPR), aveti
        urmatoarele drepturi:<br />1.&nbsp;<strong>Dreptul de acces</strong>:
        Aveti dreptul de a vi se comunica, la cerere, daca Datele dumneavoastra
        cu caracter personal sunt prelucrate, si daca da, aveti dreptul de a
        solicita accesarea acestora. informatiile includ, printre altele,
        scopurile Prelucrarii, categoriile de date cu caracter personal afectate
        si destinatarii sau categoriile de destinatari carora le-au fost
        divulgate sau le vor fi divulgate Datele dumneavoastra cu caracter
        personal.<br />Aveti dreptul de a obtine o copie a Datelor cu caracter
        personal prelucrate. Pentru copii suplimentare, va putem percepe o taxa
        rezonabila, in baza costurilor administrative.<br />2.&nbsp;<strong
          >Dreptul la rectificare</strong
        >: Aveti dreptul de a obtine din partea noastra rectificarea Datelor
        dumneavoastra cu caracter personal incorecte. in functie de scopurile
        Prelucrarii, aveti dreptul de a completa Datele cu caracter personal
        incomplete, inclusiv prin intermediul unei declaratii suplimentare.<br />3.&nbsp;<strong
          >Dreptul la stergere</strong
        >: Aveti dreptul de a ne solicita sa va stergem Datele cu caracter
        personal, prin accesarea serviciului Relatii Clienti la nr. de
        telefon&nbsp;+40 245 207 540 sau prin transmiterea unui email la adresa
        comenzi@automotivepack.ro<br />4.&nbsp;<strong
          >Dreptul la restrictionare</strong
        >: Aveti dreptul de a solicita restrictionarea Prelucrarii Datelor
        dumneavoastra cu caracter personal. In acest caz, datele respective vor
        fi marcate si pot fi prelucrate de noi doar in anumite scopuri.<br />5.&nbsp;<strong
          >Dreptul de a obiecta</strong
        >: Aveti dreptul de a obiecta, pe motive legate de situatia
        dumneavoastra, in orice moment, fata de Prelucrarea Datelor
        dumneavoastra cu caracter personal de catre noi, si ni se poate solicita
        sa nu va mai prelucram Datele cu caracter personal. Daca aveti dreptul
        la obiectie si vi-l exercitati, nu vom mai prelucra Datele dumneavoastra
        cu caracter personal in scopul respectiv. Exercitarea acestui drept nu
        presupune niciun cost. Acest drept poate fi invalidat in special daca
        Prelucrarea Datelor dumneavoastra cu caracter personal este necesara
        pentru formalitatile aferente incheierii unui contract sau pentru
        indeplinirea unui contract deja incheiat.<br />Drepturile mentionate mai
        sus se vor exercita prin formularea unei cereri in forma scrisa, datata
        si semnata, inaintata catre Automotive Pack la adresa postala Str.
        Laminorului, nr 40, Targoviste, judet Dambovita. In cerere, puteti arata
        daca doriti ca informatiile sa fie comunicate la o anumita adresa, care
        poate fi şi de posta electronica, sau printr-un serviciu de
        corespondenta care sa asigure ca predarea vi se va face numai personal.
        Va rugam sa tineti cont ca, inainte de a da curs oricarei astfel de
        cereri, ne rezervam dreptul de a va verifica identitatea, pentru a ne
        asigura ca solicitarea provine chiar din partea dvs.<br />Automotive
        Pack va comunica informatiile solicitate, in termen de 30 de zile de la
        data primirii cererii, cu respectarea solicitarii exprimate de
        dumneavoastra privind modul de comunicare.<br />Va rugam sa luati in
        considerare faptul ca drepturile de mai sus pot fi limitate in baza
        legislatiei nationale aplicabile privind protectia datelor. Automotive
        Pack, in calitate de operator de date, ramane punctul de contact central
        in vederea exercitarii acestor drepturi.
      </p>
      <p>
        <br /><strong>7. Cum prelucram datele personale ale copiilor?</strong>
      </p>
      <p>
        <br />Serviciile oferite de Site-ul&nbsp;www.automotivepack.ro&nbsp;nu
        sunt destinate minorilor.
      </p>
    </div>
  </div>
  <app-newsletter></app-newsletter>
  <app-footer></app-footer>
  <app-rights></app-rights>
</div>
